@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content  {
    margin-top: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}