/* Navbar.css */

:root {
  --base-color :#021526;
  --base-color-light:#03346E;
  --light-blue :rgb(178, 181, 249);
  --hover-color-green: rgb(51, 129, 66);
  --hover-color-blue: #6366f1;
  --blue-btn: #007bff;
  --green-btn:#4CAF50;
  --primary-color: #4f46e5;
  --text-color: #fff;
  /* --bg-color: #1f2937; */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
}

.logo {
  padding: 0;
  height: fit-content;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.logo span {
  color: var(--text-color);
}

.search-bar {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  background: transparent;
  color: var(--text-color);
  border-radius: 0.5rem;
  border: 1px solid var(--light-blue);
}

.searchIcon {
  background: transparent;
  padding: 6px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: var(--light-blue);
}

.search-bar input {
  background: transparent;
  color: var(--light-blue);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  padding: 4px;
}

.search-bar input::placeholder {
  color: var(--light-blue);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: var(--text-color);
  height: 3px;
  width: 25px;
  margin-bottom: 4px;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.link:hover, .submenu:hover {
  color: var(--hover-color-blue);
  cursor: pointer;
}


.btn {
  /* background-color: var(--primary-color); */
  color: var(--text-color);
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.signupBtn{
  background-color:var(--blue-btn);
}
.loginBtn{
  background-color:var(--green-btn) ;
}

.loginBtn:hover {
  background-color: var(--hover-color-green);
}
.signupBtn:hover {
  background-color: var(--hover-color-blue);
}

.menu {
  display: flex;
  align-items: center;
  padding: 1rem 0 ;
}

.dropdown {
  position: absolute;
  top: 55px;
  background: transparent;
  display: none;
  text-align: start;
}

.menu:hover .dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  animation: fadeIn 0.5s ease-in-out;

}

.submenu {
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 850px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    align-items: flex-start;
    position: absolute;
    top: 55px;
    left: 0px;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .nav-links.open {
    width: 250px;
    height: fit-content;
  }

  .link{
    padding: 0.5rem 0;
  }

  .dropdown {
    position: absolute;
    top: 50px;
    left: 115px;
    text-align: start;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@media (max-width: 624px) {

  .search-bar{
    display: none;
  }
}

@media (max-width: 424px) {

}
